@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
  url('../Fonts/Montserrat/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
  url('../Fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../Fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../Fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../Fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../Fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
  url('../Fonts/Oswald/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
