* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-size:'Montserrat', sans-serif;
   color: #000000;
}

 h1,h2,h3,h4,h5,h6{
   font-family: 'Oswald', sans-serif;

 }


 .center {
   .center {
     padding-left: calc(55vw - 555px);
     padding-right: calc(55vw - 555px);
   }
 }